/* Position */
.bottom-0 {
  bottom: 0 !important;
}
/* ============ */
/* Borders*/
.border-radius {
  border-radius: 3%;
}
/* ============ */
/* Fonts */
.head-font-size-high {
  font-size: 5vh;
}
.head-font-size-normal {
  font-size: 4vh;
}
.head-font-size {
  font-size: 3vh;
}
.normal-font-size {
  font-size: 2vh;
}
.letter-spacing {
  letter-spacing: 5px;
}
.font-family-head {
  font-family: "Unlock", cursive;
}
.font-family-normal {
  font-family: "Josefin Sans", sans-serif;
}
/* ============= */
